</body>
<footer class="fixed-bottom text-center">
  2100.fyi - <a href="https://trustless-services.com/" target="_blank">Trustless Services K.K.</a> 2019-2020. <a href="https://twitter.com/trustless_inc" target="_blank">Contact</a>.
</footer>
</html>